.NavBar{
    position: fixed;
    z-index: 9999;
    top: 0px;
    background: var(--main);
    height: 80px;
    width: 100%;
    
    &_Items{        
        display: flex;
        display: -webkit-flex;        
        height: 100%;        
        width: 100%;
        align-items: center;
        justify-content: center;

        &_Item{
            font-size: var(--middle-font-size);
            color: var(--snow);    
        }
    }
}
    